header {
   background-color: #ebedff;
}
.btn-primar {
    background-color: #0f0b47 !important;
    color: white !important;
}
ul{
    list-style-type: none;
}
.secOne {
    padding: 12%;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10%; */
    /* background-color: white; */
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px;
}
.isHere {
    background-color: #d0d9fd;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.solution, .smart {
    color: #0f0b47;
}
a {
    text-decoration: none !important;
    color: #0f0b47 !important;
}